<div class="container-fluid m-auto text-center">
  <h1 class="my-5">Clothing ASD</h1>
  <div class="row my-5 ">
    <div class="col d-flex justify-content-center mb-5">
      <div class="card" style="width: 18rem;">
        <img src="https://th.bing.com/th/id/R.d7a673639f9f570b9556a863469aa17d?rik=Stm1LPgHjSvA7g&pid=ImgRaw&r=0" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa Polo Lacoste </h5>
          <p class="card-text">5 Botões Feminina - Amarelo | Netshoes</p>
          <p class="card-footer fs-5 fw-bolder">R$150,00</p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center mb-5">
      <div class="card" style="width: 18rem; height: 30rem;">
        <img src="https://static.netshoes.com.br/produtos/camisa-polo-lacoste-piquet-manga-curta-feminina/34/D66-1757-034/D66-1757-034_zoom1.jpg?" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa Polo Lacoste </h5>
          <p class="card-text">Piquet Manga Curta Feminina | Netshoes</p>
          <p class="card-footer fs-5 fw-bolder">R$150,00</p>
        </div>
    </div>
  </div>
    <div class="col d-flex justify-content-center mb-5">
    <div class="card" style="width: 18rem;">
      <img src="https://camisariacolombov2.vteximg.com.br/arquivos/ids/218714-1000-1000/http---ecommerce.adezan.com.br-11340340002-11340340002_2.jpg?v=635575946285730000" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camisa Polo Colombo </h5>
        <p class="card-text">Azul Piscina Lisa - Camisaria Colombo</p>
        <p class="card-footer fs-5 fw-bolder">R$150,00</p>
      </div>
    </div>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem; height: 30rem;">
      <img src="https://camisariacolombov2.vteximg.com.br/arquivos/ids/383023-1000-1000/http---ecommerce.adezan.com.br-113409P0008-113409p0008_2.jpg?v=636483356930370000" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camisa Polo Colombo </h5>
        <p class="card-text">Preta - Camisaria Colombo</p>
        <p class="card-footer fs-5 fw-bolder">R$150,00</p>
      </div>
  </div>
</div>
<div class="my-5 text-center">
  <a class="btn btn-warning fs-3" routerLink="/cadastro">Comprar</a>
</div>
